# Case Study-Titan Insurance Company
#The Titan Insurance Company has just installed a new incentive payment scheme for its lift policy sales force. It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies, but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference.
#Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month. For example, suppose salesperson X has, in the month, sold seven policies for which the sums assured are £1000, £2500, £3000, £5000, £10000, £35000. X's output for the month is the total of these sums assured, £61,500. Titan's new scheme is that the sales force receives low regular salaries but are paid large bonuses related to their output (i.e. to the total sum assured of policies sold by them). The scheme is expensive for the company, but they are looking for sales increases which more than compensate. The agreement with the sales force is that if the scheme does not at least break even for the company, it will be abandoned after six months.
#The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.
#To test the effectiveness of the scheme, Titan have taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover). The outputs of the salespeople are shown in Table 1"

# Questions
##Find the mean of old scheme and new scheme column. (5 points)
##Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)
##What conclusion does the test (p-value) lead to? (2.5 points)
##Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
##The probability of a type 1 error? (2.5 points)
##What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)
##Power of the test (5 points)

In [3]:
#1.	Find the mean of old scheme and new scheme column. (5 points)

In [4]:
import numpy as np
import pandas as pd

In [5]:
salesoutput = pd.read_csv ('StatsProj2-SalesOutputData.csv')
salesoutput

    SALESPERSON  OldScheme  NewScheme
0           1.0       57.0       62.0
1           2.0      103.0      122.0
2           3.0       59.0       54.0
3           4.0       75.0       82.0
4           5.0       84.0       84.0
5           6.0       73.0       86.0
6           7.0       35.0       32.0
7           8.0      110.0      104.0
8           9.0       44.0       38.0
9          10.0       82.0      107.0
10         11.0       67.0       84.0
11         12.0       64.0       85.0
12         13.0       78.0       99.0
13         14.0       53.0       39.0
14         15.0       41.0       34.0
15         16.0       39.0       58.0
16         17.0       80.0       73.0
17         18.0       87.0       53.0
18         19.0       73.0       66.0
19         20.0       65.0       78.0
20         21.0       28.0       41.0
21         22.0       62.0       71.0
22         23.0       49.0       38.0
23         24.0       84.0       95.0
24         25.0       63.0       81.0
25         26.0       77.0       58.0
26         27.0       67.0       75.0
27         28.0      101.0       94.0
28         29.0       91.0      100.0
29         30.0       50.0       68.0
30          NaN        NaN        NaN

In [6]:
salesoutput.dtypes
salesoutput.drop(salesoutput.index[-1], inplace=True)

In [7]:
print ('Old Scheme Mean', salesoutput.OldScheme.mean())
print ('New Scheme Mean', salesoutput.NewScheme.mean())

Old Scheme Mean 68.03333333333333
New Scheme Mean 72.03333333333333

In [8]:
###2.	Use the five percent significance test over the data to determine the p value to check new scheme has 
### significantly raised outputs? (10 points)
salesoutput

    SALESPERSON  OldScheme  NewScheme
0           1.0       57.0       62.0
1           2.0      103.0      122.0
2           3.0       59.0       54.0
3           4.0       75.0       82.0
4           5.0       84.0       84.0
5           6.0       73.0       86.0
6           7.0       35.0       32.0
7           8.0      110.0      104.0
8           9.0       44.0       38.0
9          10.0       82.0      107.0
10         11.0       67.0       84.0
11         12.0       64.0       85.0
12         13.0       78.0       99.0
13         14.0       53.0       39.0
14         15.0       41.0       34.0
15         16.0       39.0       58.0
16         17.0       80.0       73.0
17         18.0       87.0       53.0
18         19.0       73.0       66.0
19         20.0       65.0       78.0
20         21.0       28.0       41.0
21         22.0       62.0       71.0
22         23.0       49.0       38.0
23         24.0       84.0       95.0
24         25.0       63.0       81.0
25         26.0       77.0       58.0
26         27.0       67.0       75.0
27         28.0      101.0       94.0
28         29.0       91.0      100.0
29         30.0       50.0       68.0

In [34]:
# H0 : New Scheme has no effect on output (mean is same as old scheme)
# H1 : New Scheme has an effect on output (mean is greater than old scheme)
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel

# Since this is for the same set of sales people with old scheme and new scheme, there is a dependency between the two scenrios. 
# so we can either use 1 sample test using the difference in means should be zero 
# or we can use a two-sided test for the null hypothesis that 2 related or repeated samples have identical average (expected) values.


stat1, p1 = ttest_1samp(salesoutput.NewScheme- salesoutput.OldScheme, 0)
stat2, p2 = ttest_rel(salesoutput.OldScheme, salesoutput.NewScheme)

# Since we need one sided (greater than) probability, we need to take half of the probability 

print('Statistics1=%.3f, p1=%.3f' % (stat1, p1/2))
print('Statistics2=%.3f, p2=%.3f' % (stat2, p2/2))

alpha = 0.05
if (p1/2) > alpha:
    print('Same distributions (fail to reject H0). New Scheme does not have significantly raised output')
else:
    print('Different distributions (reject H0).New Scheme has significantly raised output ')

Statistics1=1.556, p1=0.065
Statistics2=-1.556, p2=0.065
Same distributions (fail to reject H0). New Scheme does not have significantly raised output

# 3. What conclusion does the test (p-value) lead to? (2.5 points)

# Answer
#Our Null Hypothesis is H0:  New Scheme has no effect on output (mean is same as old scheme)
#To test the Null Hypothesis, we have used ttest on two outcomes and tried validating if the distribution is similar or not. 
#The probability is higher compared to significance level of 5%.
#Since both distributions are quite similar in nature, we can assume there is no impact of new scheme 
#and the sales outcomes are similar to each other

In [32]:
##  4. Suppose it has been calculated that in order for Titan to break even, 
## the average output must increase by £5000 in the scheme compared to the old scheme. 
## If this figure is alternative hypothesis, what is:

##4.1  The probability of a type 1 error? (2.5 points)

# 4.1 Answer
#Probability of type 1 error is same as its significance level, i.e. 
#probibility of rejecting the null hypothesis (H0), when it is in fact true. 
#Since this is one sided validation, i.e. only greater than is important, we need to take only half of this signiifcance value.
#Probability of type 1 error = 5/2 = 2.5%

In [35]:
## 4.2 Whzat is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

# We need to validate the following Hypothesis:
# H0 : New Scheme has no effect on output (diffference in mean is less than or equal to 5 K)
# H1 : New Scheme has an effect on output (diffference in mean is greater than old scheme by 5 K)

# If difference in mean value should be 5000 (or 5 as the values are in 1000s), we should use 1samp test and check for 
# probability for difference in mean as 5

stat1, p1 = ttest_1samp(salesoutput.NewScheme-salesoutput.OldScheme, 5)

# since the value has to be one sided, we need to take half of p value
p=p1/2
print('Statistics1=%.3f, p1=%.3f' % (stat1, p))

Statistics1=-0.389, p1=0.350

In [53]:
## 4.3 Power of the test (5 points)
# Calculating Power of Test
# Compute the difference in Means between 2 sample means and divide by pooled Standard Deviation 
# number of Observations/tuples
# Set the alpha value to 0.05 and alternative values 'two-sided' , 'larger' , 'smaller'

 
meandiff  = np.mean(salesoutput.NewScheme) -np.mean(salesoutput.OldScheme)
sp = np.sqrt((29*np.var(salesoutput.OldScheme)+29*np.var(salesoutput.NewScheme)) / 58)
effectsize = meandiff/sp
print (effectsize)

0.18217632044690082

In [60]:
from statsmodels.stats.power import ttest_power

## ttest_power(effect_size, nobs, alpha, df=None, alternative='two-sided')

print('power - ', ttest_power(0.18, nobs=29, alpha=0.05, alternative='two-sided'))

power -  0.1549012340523076