In [1]:
import numpy as np
import pandas as pa

In [2]:
### 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. 

laliga = pa.read_csv('Laliga.csv', header = 1)

laliga.replace('-', 0, inplace=True)

laliga.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [3]:
### 2. Print all the teams which have started playing between 1930-1980. (5 points)

##Split Debut year into columns
DebutYear = laliga.Debut.str.split(pat="-", n=1, expand=True)

laliga['DebutStartYear'] = DebutYear[0]
laliga['DebutEndYear'] = DebutYear[1]

##check the condition using start year
laliga[(laliga['DebutStartYear'] >= '1930') & (laliga['DebutStartYear'] <= '1980')].Team

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [4]:
### 3. Print the list of teams which came Top 5 in terms of points (2.5 points)

##df[df.Ticket == 1].nlargest(10, 'Age')['Names']
laliga.dtypes
laliga.Points
laliga.Points = laliga.Points.astype('int')
laliga.nlargest(5, 'Points')['Team']

#laliga.sort_values('Points', ascending=False).Team.head(5)

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [5]:
laliga.head (2)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,DebutStartYear,DebutEndYear
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,None
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,None

In [6]:
### 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
### Using the same function, find the team which has maximum and minimum goal difference. (5 points)

# Function to calcualte and include an additional column Goal Difference in the dataframe

def Goal_diff_count ():
        laliga.GoalsFor = laliga.GoalsFor.astype ('int')
        laliga.GoalsAgainst = laliga.GoalsAgainst.astype ('int')
        laliga ['GoalDiff'] = laliga.GoalsFor - laliga.GoalsAgainst
        return laliga[['Team', 'GoalDiff']] 
           

#call the function
Goal_diff_count()

#print team and correspoding goal differences, max/min goal differences
print (laliga[['Team', 'GoalDiff']])
print ('Team with Max Goal Difference - ', laliga.loc[laliga['GoalDiff'].idxmax()].Team)
print ('Team with Min Goal Difference - ', laliga.loc[laliga['GoalDiff'].idxmin()].Team)

                   Team  GoalDiff
0           Real Madrid      2807
1             Barcelona      2786
2       Atletico Madrid      1225
3              Valencia       929
4       Athletic Bilbao       931
5               Sevilla       307
6              Espanyol      -280
7         Real Sociedad        -2
8              Zaragoza      -164
9            Real Betis      -333
10  Deportivo La Coruna      -136
11           Celta Vigo      -346
12           Valladolid      -413
13     Racing Santander      -525
14       Sporting Gijon      -399
15              Osasuna      -334
16               Malaga      -342
17               Oviedo      -309
18             Mallorca      -189
19           Las Palmas      -399
20           Villarreal       103
21              Granada      -338
22       Rayo Vallecano      -328
23                Elche      -272
24               Getafe      -113
25             Hercules      -334
26             Tenerife      -125
27               Murcia      -385
28               Alaves      -165
29              Levante      -202
..                  ...       ...
31             Sabadell      -228
32                Cadiz      -269
33             Logrones      -198
34            Castellon      -169
35             Albacete       -90
36              Almeria      -122
37              Cordoba      -145
38           Compostela       -42
39           Recreativo       -94
40            Burgos CF       -94
41           Pontevedra       -56
42             Numancia       -98
43                Eibar       -28
44               Arenas       -81
45          Real Burgos       -38
46            Gimnastic      -114
47          Extremadura       -55
48               Merida       -45
49             Alcoyano      -107
50                 Jaen       -62
51           Real Union       -31
52           AD Almeria       -45
53               Europa       -34
54               Lleida      -112
55              Leganes       -19
56                Xerez       -28
57               Condal       -20
58      Atletico Tetuan       -34
59     Cultural Leonesa       -31
60               Girona         0

[61 rows x 2 columns]
Team with Max Goal Difference -  Real Madrid
Team with Min Goal Difference -  Racing Santander

In [19]:
###Create a new column with name “Winning Percent” and append it to the data set (5 points). 
###Percentage of Winning = (GamesWon / GamesPlayed)*100
###If there are any numerical error, replace it with 0%
###Print the top 5 teams which has the highest Winning percentage

#Convert Data Type
laliga.GamesWon = laliga.GamesWon.astype ('int')
laliga.GamesPlayed = laliga.GamesPlayed.astype ('int')

#calculate and add new column
laliga ['PercentOfWinning'] = ( laliga.GamesWon / laliga.GamesPlayed ) * 100
                
laliga['PercentOfWinning'].fillna(0, inplace=True)

#print (laliga[['Team', 'PercentOfWinning']])

laliga.nlargest(5, 'PercentOfWinning') ['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [22]:
#6. Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
laliga['Points'].groupby([laliga['BestPosition']]).sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32