# **The Real Problem**

The goal of the Fake News Challenge is to explore how artificial intelligence technologies, particularly machine learning and natural language processing, might be leveraged to combat the fake news problem. We believe that these AI technologies hold promise for significantly automating parts of the procedure human fact checkers use today to determine if a story is real or a hoax. h
 
Assessing the veracity of a news story is a complex and cumbersome task, even for trained experts. Fortunately, the process can be broken down into steps or stages. A helpful first step towards identifying fake news is to understand what other news organizations are saying about the topic. We believe automating this process, called Stance Detection, could serve as a useful building block in an AI-assisted fact-checking pipeline. 
 
Stance Detection involves estimating the relative perspective (or stance) of two pieces of text relative to a topic, claim or issue. This extends the work of Ferreira & Vlachos. The task is to estimate the stance of a body text from a news article relative to a headline. Specifically, the body text may agree, disagree, discuss or be unrelated to the headline. 
 
# **Project Description **

Given the huge impact of social networks, online content plays an important role in forming or changing the opinions of people. Unlike traditional journalism where only certain news organizations can publish content, online journalism has given chance even for individuals to publish. This has its own advantages like individual empowerment but has given a chance to a lot of malicious entities to spread misinformation for their own benefit. As reported by many organizations in recent history, this even has an influence on major events like the outcome of elections. Therefore, it is of great importance now, to have some sort of automated classification of news stories. 	 	 	 	 
 
In this work, we will implement different deep neural architectures using word embeddings for identifying the stance detection of different news stories. 

# **Dataset**

The dataset is taken from Fake News Challenge, where the goal of the challenge is not to directly identify whether a headline or article is “fake” or not, which is arguably a highly subjective question, and one that even skilled humans may have difficulty answering. 
 
The challenge is organized around the more well-defined problem of “stance detection,” which involves comparing a headline with a body of text from a news article to determine what relationship (if any) exists between the two.  
 
There are 4 possible classifications:  
 
1.	The article text agrees with the headline.  
2.	The article text disagrees with the headline.  
3.	The article text is a discussion of the headline, without taking a position on it.	 
4.	The article text is unrelated to the headline (i.e. it doesn’t address the same topic).  
 
 
Presumably, a classifier that can solve the stance detection problem with high accuracy might effectively be used either as a tool for humans working to identify fake news (e.g., retrieving articles that agree, disagree and discuss a headline), or as a building block for a more elaborate future AI system that would try to identify the actual truthfulness of news stories (e.g., using credible sources to classify).

# **I will follow these steps: **

Step 1: Understanding how to convert words into vectors and make them ready for the model. 
This is an important step and will be the same for almost any problem in NLP when dealing with words. 
 
Step 2: Understanding the working of Sequential Models like RNN, LSTM.. and practically building them in Keras and build the model ready. 
 
Step 3: Train the model and report the accuracy score. 
 
Step 4: Add checkpoints as callbacks to the model and save the model for each epoch. This callback saves the model after each epoch, which can be handy for when you are running long-term training. 
By loading the saved weight files we can start training the model which starts the learning from there. 

Step 5 (will try if time permits): Add attention to the above model and report the change in accuracy. And explain how and why attention has improved (or disturbed) the model.

# Stance Detection for the Fake News Challenge

## Identifying Textual Relationships with Deep Neural Nets

### Check the problem context [here](https://drive.google.com/open?id=1KfWaZyQdGBw8AUTacJ2yY86Yxgw2Xwq0).

### Download files required for the project from [here](https://drive.google.com/open?id=10yf39ifEwVihw4xeJJR60oeFBY30Y5J8).

## Step1: Load the given dataset  

1. Mount the google drive

2. Import Glove embeddings

3. Import the test and train datasets

**Mount the google drive to access required project files**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

#### Path for Project files on google drive

In [0]:
project_path = "/content/drive/My Drive/GreatLakes/Artificial Intelligence/Sequence Models in NLP/Project2-FakeNewsDetection/"

### Loading the Glove Embeddings

I have commented this code as the files have been unzipped once and not required with every code run

In [0]:

#from zipfile import ZipFile
#with ZipFile(project_path+'glove.6B.zip', 'r') as z:
 # z.extractall()

# Load the dataset 

1. Using [read_csv()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) in pandas load the given train datasets files **`train_bodies.csv`** and **`train_stances.csv`**

2. Using [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) command in pandas merge the two datasets based on the Body ID. 

Note: Save the final merged dataset in a dataframe with name **`dataset`**.

In [0]:
import numpy as np
import pandas as pd

In [0]:
df_bodies = pd.read_csv(project_path+'train_bodies.csv')

In [6]:
df_bodies.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [0]:
df_stances = pd.read_csv(project_path+'train_stances.csv')

In [8]:
df_stances.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [0]:
df = df_bodies.merge(df_stances, left_on='Body ID', right_on='Body ID')


<h2> Run `dataset.head() and Check the output </h3>

In [10]:
df.head()

   Body ID  ...     Stance
0        0  ...  unrelated
1        0  ...  unrelated
2        0  ...  unrelated
3        0  ...  unrelated
4        0  ...  unrelated

[5 rows x 4 columns]

## Step2: Data Pre-processing and setting some hyper parameters needed for model


#### lets set the following required parameters.

1. `MAX_SENTS` = Maximum no.of sentences to consider in an article.

2. `MAX_SENT_LENGTH` = Maximum no.of words to consider in a sentence.

3. `MAX_NB_WORDS` = Maximum no.of words in the total vocabualry.

4. `MAX_SENTS_HEADING` = Maximum no.of sentences to consider in a heading of an article.

In [0]:
MAX_NB_WORDS = 20000
MAX_SENTS = 20
MAX_SENTS_HEADING = 1
MAX_SENT_LENGTH = 20
VALIDATION_SPLIT = 0.2

### Download the `Punkt` from nltk using the commands given below. This is for sentence tokenization.

reference: read  [this](https://stackoverflow.com/questions/35275001/use-of-punktsentencetokenizer-in-nltk).

In [12]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

# Tokenizing the text and loading the pre-trained Glove word embeddings for each token

Keras provides [Tokenizer API](https://keras.io/preprocessing/text/) for preparing text.

#### Import the Tokenizer from keras preprocessing text

In [13]:
import tensorflow as tf

#### Initialize the Tokenizer class with maximum vocabulary count as `MAX_NB_WORDS` initialized at the start of step2.

In [0]:
t = tf.keras.preprocessing.text.Tokenizer(num_words=MAX_NB_WORDS) # num_words -> Vocablury size

#### Now, using fit_on_texts() from Tokenizer class, lets encode the data 

Note: We need to fit articleBody and Headline also to cover all the words.

In [0]:
t.fit_on_texts(df['articleBody']) 
t.fit_on_texts(df['Headline'])

#### fit_on_texts() gives the following attributes in the output as given [here](https://faroit.github.io/keras-docs/1.2.2/preprocessing/text/).

* **word_counts:** dictionary mapping words (str) to the number of times they appeared on during fit. Only set after fit_on_texts was called.

* **word_docs:** dictionary mapping words (str) to the number of documents/texts they appeared on during fit. Only set after fit_on_texts was called.

* **word_index:** dictionary mapping words (str) to their rank/index (int). Only set after fit_on_texts was called.

* **document_count:** int. Number of documents (texts/sequences) the tokenizer was trained on. Only set after fit_on_texts or fit_on_sequences was called.

In [16]:

len(t.word_counts)

27873

In [0]:
from nltk.tokenize import sent_tokenize, word_tokenize

### Now, tokenize the sentences using nltk sent_tokenize() and encode the senteces with the ids we got form the above `t.word_index`

Initialise 2 lists with names `texts` and `articles`.

```
texts = [] to store text of article as it is.

articles = [] split the above text into a list of sentences.
```

In [0]:
texts = [] 
articles = []

In [0]:
texts = df['articleBody']

In [0]:
for text in texts:
    articles.append(sent_tokenize(text))

## Check 2:

first element of texts and articles should be as given below.

In [21]:
texts[0]

'A small meteorite crashed into a wooded area in Nicaragua\'s capital of Managua overnight, the government said Sunday. Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city\'s airport, the Associated Press reports. \n\nGovernment spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth." House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports. \nMurillo said Nicaragua will ask international experts to help local scientists in understanding what happened.\n\nThe crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee. He said it is still not clear if the meteorite disintegrated or was buried.\n\nHumberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.\n\n"We have to study it more because it could be ice or rock," he said.\n\nWilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light. We have to ask if anyone has a photo or something."\n\nLocal residents reported hearing a loud boom Saturday night, but said they didn\'t see anything strange in the sky.\n\n"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast. We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.\n\nThe site of the crater is near Managua\'s international airport and an air force base. Only journalists from state media were allowed to visit it.'

In [22]:
articles[0]

["A small meteorite crashed into a wooded area in Nicaragua's capital of Managua overnight, the government said Sunday.",
 "Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city's airport, the Associated Press reports.",
 'Government spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth."',
 'House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports.',
 'Murillo said Nicaragua will ask international experts to help local scientists in understanding what happened.',
 'The crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee.',
 'He said it is still not clear if the meteorite disintegrated or was buried.',
 'Humberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.',
 '"We have to study it more because it could be ice or rock," he said.',
 'Wilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light.',
 'We have to ask if anyone has a photo or something."',
 "Local residents reported hearing a loud boom Saturday night, but said they didn't see anything strange in the sky.",
 '"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast.',
 'We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.',
 "The site of the crater is near Managua's international airport and an air force base.",
 'Only journalists from state media were allowed to visit it.']

# Now iterate through each article and each sentence to encode the words into ids using t.word_index  [5 marks] 

Here, to get words from sentence you can use `text_to_word_sequence` from keras preprocessing text.

1. Import text_to_word_sequence

2. Initialize a variable of shape (no.of articles, MAX_SENTS, MAX_SENT_LENGTH) with name `data` with zeros first (you can use numpy [np.zeros](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html) to initialize with all zeros)and then update it while iterating through the words and sentences in each article.

In [24]:
from keras.preprocessing.text import text_to_word_sequence

Using TensorFlow backend.

In [0]:
MAX_NB_WORDS = 20000
MAX_SENTS = 20
MAX_SENTS_HEADING = 1
MAX_SENT_LENGTH = 20
VALIDATION_SPLIT = 0.2

In [0]:
data =  np.zeros((len(articles), MAX_SENTS, MAX_SENT_LENGTH), dtype = int)

In [27]:
print (len(articles))

49972

In [0]:
# tokenizing the text 

for index_one, article in enumerate(articles):
  article = article[0:MAX_SENTS]
  for index_two, sentence in enumerate(article):
    list_of_words = text_to_word_sequence(sentence)[0:MAX_SENT_LENGTH]
    encodings = []
    
    for word in list_of_words:
      encoding = t.word_index.get(word)
      encodings.append(encoding)
    if(len(encodings) < MAX_SENT_LENGTH):
      encodings.extend([0] * (MAX_SENT_LENGTH - len(encodings)))
    data[index_one][index_two] = encodings

### Check 3:

Accessing first element in data should give something like given below.

In [29]:
data[0, :, :]

array([[    3,   481,   427,  7211,    81,     3,  3733,   331,     5,
         3891,   350,     4,  1431,  2958,     1,    89,    12,   464,
            0,     0],
       [  758,    95,  1047,     3,  2679,  1752,     7,   189,     3,
         1217,  1075,  2030,   700,   159,     1,  3032,   448,     1,
          555,   235],
       [   89,  1067,  4115,  2349,    12,     3,  1092,  3306,    19,
            1,    89,     2,  1793,     1,   521,  2009,    15,     9,
            3,  3111],
       [  181,  3640,   972,   200,  2556,    44,  6775,  1722,  1252,
            5, 13317, 17936,     1,   778,    31,   740,  3990,    67,
           85,     0],
       [ 2349,    12,  1557,    38,  1094,   351,   775,     2,   367,
          260,  1770,     5,  4450,    70,   494,     0,     0,     0,
            0,     0],
       [    1,   700,   189,    19,     1,   427,    32,     3,  7417,
            4,  2159,  1252,     6,     3,  5270,     4,  1217,  1252,
           12,  3363],
       [   13,    12,    15,     8,   149,    25,   543,    64,     1,
          427,  3727,    41,     9,  1850,     0,     0,     0,     0,
            0,     0],
       [ 3363,  5733,     4,     1,  5875,   614,    21,     1,   311,
         3438,   794,     4,  1557,    12,     1,   427,    69,    23,
          787,     2],
       [   37,    17,     2,  1793,    15,    52,   120,    15,    69,
           23,  4921,    41,  1963,    13,    12,     0,     0,     0,
            0,     0],
       [ 4736,  3338,    24,  3969,     2,     1,  1316,     4,  3072,
         1653,    12,    15,     9,   195,  1420,     7,    58,    40,
           95,     3],
       [   37,    17,     2,  1094,    64,   510,    20,     3,   250,
           41,   264,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [  260,   758,    95,  1047,     3,  1806,  1752,   531,   276,
           29,    12,    33,   703,   163,   892,  1420,     5,     1,
         2081,     0],
       [   35,     9,  2057,    10,   116,  5825,     6,    35,   576,
          656,   104,    59,     4,     3,  2410,    35,   241,     3,
          512,  1911],
       [   37,   341,    15,     9,     3,  2082,   120,    37,   881,
           24,  4451,  2584,  4315,  4922,    55,     1,   555,   235,
            0,     0],
       [    1,   255,     4,     1,   700,     8,   159,  3961,   351,
          448,     6,    24,   155,   465,  1929,     0,     0,     0,
            0,     0],
       [  126,   921,    22,    47,   100,    36,  1833,     2,  1212,
           15,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0]])

## Repeat the same process for the `Headings` as well. Use variables with names `texts_heading` and `articles_heading` accordingly.

In [0]:
texts_heading = df.Headline
articles_heading = []
for text_heading in texts_heading:
  article_heading = nltk.sent_tokenize(text_heading)
  articles_heading.append(article_heading)

In [31]:
texts_heading[0]
articles_heading[0]

['Soldier shot, Parliament locked down after gunfire erupts at war memorial']

In [32]:
print(len(articles_heading))

49972

In [0]:
data_heading =  np.zeros((len(articles_heading), MAX_SENTS_HEADING, MAX_SENT_LENGTH), dtype = int)

In [0]:
for index_one, heading in enumerate(articles_heading):
  heading = heading[0:MAX_SENTS_HEADING]
  for index_two, head in enumerate(heading):
    list_of_words = text_to_word_sequence(head)[0:MAX_SENT_LENGTH]
    encodings = []
    for word in list_of_words:
      encoding = t.word_index.get(word)
      encodings.append(encoding)
    if(len(encodings) < MAX_SENT_LENGTH):
      encodings.extend([0] * (MAX_SENT_LENGTH - len(encodings)))
    data_heading[index_one][index_two] = encodings

In [35]:
data_heading[49971, :, :]

array([[6105, 6363, 2165, 2157, 1856, 1998,   14,  284,  145, 2379,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0]])

### Now the features are ready, lets make the labels ready for the model to process.

### Convert labels into one-hot vectors

You can use [get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) in pandas to create one-hot vectors.

In [0]:
labels = pd.get_dummies(df_stances.Stance)

In [37]:
labels.head()

   agree  disagree  discuss  unrelated
0      0         0        0          1
1      1         0        0          0
2      0         0        0          1
3      0         0        0          1
4      0         1        0          0

### Check 4:

The shape of data and labels shoould match the given below numbers.

In [38]:
print('Shape of data tensor:', data.shape)
print('Shape of label tensor:', labels.shape)

Shape of data tensor: (49972, 20, 20)
Shape of label tensor: (49972, 4)

### Shuffle the data

In [0]:
## get numbers upto no.of articles
indices = np.arange(data.shape[0])
## shuffle the numbers
np.random.shuffle(indices)

In [0]:
## shuffle the data
data = data[indices]
data_heading = data_heading[indices]
## shuffle the labels according to data
#labels = labels[indices]
labels = labels.iloc[indices]

### Split into train and validation sets. Split the train set 80:20 ratio to get the train and validation sets.


Use the variable names as given below:

x_train, x_val - for body of articles.

x-heading_train, x_heading_val - for heading of articles.

y_train - for training labels.

y_val - for validation labels.

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(data, labels, test_size=0.2, random_state=42)

In [42]:
int(len(data) * 0.8)

39977

In [0]:
x_train = data[0 : int(len(data) * 0.8) + 1, :, :]
x_val = data[int(len(data) * 0.8) + 1 : len(data), :, :]

x_heading_train = data_heading[0 : int(len(data_heading) * 0.8) + 1, :, :]
x_heading_val = data_heading[int(len(data_heading) * 0.8) + 1 : len(data_heading), :, :]

y_train = labels.iloc[0:int(len(data) * 0.8) + 1, :]
y_val = labels.iloc[int(len(data) * 0.8) + 1 : len(data), :]

In [44]:
print(x_val.shape)

(9994, 20, 20)

### Check 5:

The shape of x_train, x_val, y_train and y_val should match the below numbers.

In [45]:
print(x_train.shape)
print(y_train.shape)

print(x_val.shape)
print(y_val.shape)

(39978, 20, 20)
(39978, 4)
(9994, 20, 20)
(9994, 4)

In [0]:
x_train = np.reshape(x_train, (39977, 400))
x_val = np.reshape(x_val, (9995, 400))

In [57]:
print(x_train.shape)
print(y_train.shape)

print(x_val.shape)
print(y_val.shape)

(39977, 400)
(39977, 4)
(9995, 400)
(9995, 4)

### Create embedding matrix with the glove embeddings


create embedding_matrix which has all the words and their glove embedding if present in glove word list.

In [0]:
# # load the whole embedding into memory
# embeddings_index = dict()
# f = open('./glove.6B.100d.txt')
# for line in f:
# 	values = line.split()
# 	word = values[0]
# 	coefs = np.asarray(values[1:], dtype='float32')
# 	embeddings_index[word] = coefs
# f.close()
# print('Loaded %s word vectors.' % len(embeddings_index))

# # create a weight matrix for words in training docs
# embedding_matrix = np.zeros((vocab_size, 100))


# for word, i in t.word_index.items():
# 	embedding_vector = embeddings_index.get(word)
# 	if embedding_vector is not None:
# 		embedding_matrix[i] = embedding_vector

In [47]:
		# load the whole embedding into memory
embeddings_index = dict()
f = open( project_path +  'glove6B/glove.6B.100d.txt')
for line in f:
	values = line.split()
	word = values[0]
	coefs = np.asarray(values[1:], dtype='float32')
	embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

# create a weight matrix for words in training docs
embedding_matrix = np.zeros((MAX_NB_WORDS, 100))


for word, i in t.word_index.items():
  embedding_vector = embeddings_index.get(word)
  if embedding_vector is not None:
      if(i >= MAX_NB_WORDS):
        continue
      else:
        embedding_matrix[i] = embedding_vector

Loaded 400000 word vectors.

# Try the sequential model approach and report the accuracy score.

### Import layers from Keras to build the model

In [0]:
import tensorflow as tf
from tensorflow import keras
from keras import backend as K
import numpy as np
from keras.layers import LSTM, Dense, Dropout, Embedding, Masking, Bidirectional, GlobalAveragePooling1D

tf.set_random_seed(100)

### Model

In [50]:
model = keras.Sequential()
model.add(keras.layers.Embedding(len(t.word_index) + 1, 100))
model.add(keras.layers.GlobalAveragePooling1D())
model.add(keras.layers.Dense(64, activation='relu'))

# Dropout for regularization
model.add(keras.layers.Dropout(0.5))
model.add(keras.layers.Dense(32, activation="relu"))
model.add(keras.layers.Dense(16, activation="relu"))
model.add(keras.layers.Dense(4, activation="sigmoid"))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/keras/initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [51]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 100)         2787400
_________________________________________________________________
global_average_pooling1d (Gl (None, 100)               0
_________________________________________________________________
dense (Dense)                (None, 64)                6464
_________________________________________________________________
dropout (Dropout)            (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_2 (Dense)              (None, 16)                528
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 68
=================================================================
Total params: 2,796,540
Trainable params: 2,796,540
Non-trainable params: 0
_________________________________________________________________

In [0]:
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.callbacks import Callback

checkpoint = ModelCheckpoint("init_model.h5", monitor='loss', verbose=1, save_best_only=True, mode='auto')
early = EarlyStopping(monitor='loss', min_delta=0, patience=3, verbose=1, mode='auto')

### Compile and fit the model

In [0]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [58]:
history = model.fit(x_train, y_train, validation_data=(x_val, y_val), epochs = 10, batch_size = 50, verbose = 1)## Train the model

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 39977 samples, validate on 9995 samples
Epoch 1/10
39977/39977 [==============================] - 7s 164us/sample - loss: 0.8346 - acc: 0.7294 - val_loss: 0.7841 - val_acc: 0.7367
Epoch 2/10
39977/39977 [==============================] - 5s 118us/sample - loss: 0.8052 - acc: 0.7300 - val_loss: 0.7857 - val_acc: 0.7367
Epoch 3/10
39977/39977 [==============================] - 5s 126us/sample - loss: 0.8015 - acc: 0.7300 - val_loss: 0.7870 - val_acc: 0.7367
Epoch 4/10
39977/39977 [==============================] - 5s 119us/sample - loss: 0.7987 - acc: 0.7300 - val_loss: 0.7867 - val_acc: 0.7367
Epoch 5/10
39977/39977 [==============================] - 5s 122us/sample - loss: 0.7971 - acc: 0.7300 - val_loss: 0.7917 - val_acc: 0.7367
Epoch 6/10
39977/39977 [==============================] - 5s 115us/sample - loss: 0.7950 - acc: 0.7300 - val_loss: 0.7899 - val_acc: 0.7367
Epoch 7/10
39977/39977 [==============================] - 5s 116us/sample - loss: 0.7940 - acc: 0.7300 - val_loss: 0.7901 - val_acc: 0.7367
Epoch 8/10
39977/39977 [==============================] - 5s 115us/sample - loss: 0.7922 - acc: 0.7300 - val_loss: 0.7963 - val_acc: 0.7367
Epoch 9/10
39977/39977 [==============================] - 5s 117us/sample - loss: 0.7889 - acc: 0.7300 - val_loss: 0.7961 - val_acc: 0.7367
Epoch 10/10
39977/39977 [==============================] - 5s 117us/sample - loss: 0.7859 - acc: 0.7300 - val_loss: 0.8016 - val_acc: 0.7367

In [0]:
# Get back the encoding values to compare with the predictions for getting accuracy score
i, val = np.where(y_val)

In [0]:
#Get predictions for validation data
pred = model.predict_classes(x_val)

In [61]:
from sklearn.metrics import accuracy_score

print ('Model Accuracy: ', accuracy_score(val, pred))

Model Accuracy:  0.7366683341670835